<div class="row">
  <div class="col-md-12">
    <form #clientManagementForm="ngForm" (ngSubmit) ="onSubmit(clientManagementForm)">
      <input type= "hidden" name="$key" #$key="ngModel" [(ngModel)]="clientService.currentClient.$key">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="txtName">Name</label>
          <input type="text" name="name"  [(ngModel)]="clientService.currentClient.name" #name="ngModel" class="form-control" id="txtName"
            placeholder="Enter your name">
        </div>
        <div class="form-group col-md-6">
          <label for="txtLastName">Last name</label>
          <input type="text" name="lastName"  [(ngModel)]="clientService.currentClient.lastName" #lastName="ngModel" class="form-control" id="txtLastName" placeholder="Enter your last name">
        </div>

      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="txtAge">Age</label>
          <input type="number" name="age"  [(ngModel)]="clientService.currentClient.age" #age="ngModel" class="form-control" id="txtAge" placeholder="Enter your age" min="0">
        </div>
        <div class="form-group col-md-6">
          <label for="txtLastName">Date of birth</label>
          <input type="text" name="dateOfBirth"  [(ngModel)]="clientService.currentClient.dateOfBirth" #dateOfBirth="ngModel" class="form-control" id="txtDateOfBirth" placeholder="Enter your date of birth">
        </div>

      </div>

      <div class="form-row actions">
        <div class="form-group col-md-6 text-right">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
        <div class="form-group col-md-6 text-left">
          <button type="reset" class="btn btn-primary" (click) = "resetForm(clientManagementForm)">Refresh</button>
        </div>
      </div>

    </form>
  </div>
</div>
